@use 'styles/variables' as *;

.button {
    border-radius: $basic-border-radius;
    background-color: $orange-100;
    color: $white-100;
    cursor: pointer;
    border: none;
    padding: 20px 24px;
    transition: background-color $basic-transition-time;

    &:hover {
        background-color: $orange-80;
    }

    &:active {
        background-color: $orange-120;
    }
}
