@use 'styles/variables' as *;
@use 'styles/mixins' as *;

.final {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;

    &__container {
        margin-top: 230px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__image {
        display: block;
        max-height: 367px;
        max-width: 50%;
    }

    &__content {
        width: 50%;
    }

    &__subtitle {
        margin-top: 0;
        margin-bottom: 8px;
        opacity: 0.5;
        font-size: 32px;
    }

    &__title {
        margin-top: 0;
        margin-bottom: 64px;
        font-weight: 600;
        font-size: 56px;
    }

    &__button {
        width: 296px;
    }

    @include for-smaller-than-tablets {
        &__container {
            margin-top: 100px;
            flex-direction: column;
        }

        &__image {
            max-width: initial;
            max-height: 192px;
            margin-bottom: 24px;
        }

        &__content {
            width: auto;
            text-align: center;
        }

        &__title {
            margin-bottom: 102px;
        }
    }

    @include for-phones {
        &__container {
            margin-bottom: 48px;
        }

        &__content {
            width: 100%;
        }

        &__subtitle {
            font-size: 18px;
        }

        &__title {
            font-size: 32px;
        }

        &__button {
            width: 100%;
        }
    }
}
